git:
  depth: 1

matrix:
  include:

    - os: linux
      language: cpp
      sudo: false
      dist: bionic
      addons:
        apt:
          packages:
            - qt6-base-dev
            - qt6-multimedia-dev

      script:
        - mkdir build && cd build
        - cmake ..
        - cmake --build .
        
